<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="extra-style.css">
    <script src="extra-script.js"></script>
    <script src="jquery.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-shopping-basket"></span> Items Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <% if (messageSuccess) { %>
    <div class="alert alert-info"><%= messageSuccess %></div>
    <% } %>
    <% if (messageFailure) { %>
    <div class="alert alert-danger"><%= messageFailure %></div>
    <% } %>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="well"></div>
        </div>
    </div>
</div>
<script>
    var items = <%- items %>;

    for(var i = items.length-1; i >= 0; --i) {
        $('.well').append("<div class='item-container' id='" + items[i].item.id + "'>" +
                            "<div class='delete-item'><i class='fa fa-times' aria-hidden='true' id='" + items[i].item.id + "'></i></div>" +
                            "<h2 class='item-header'>" +
                                items[i].item.title +
                            "</h2>" +
                            "<div class='ava-container'>" +
                                "<img class='product-img img-responsive img-rounded' src='./uploads/" + items[i].item.image + "'>" +
                            "</div>" +
                            "<div class='row'>" +
                                "<div class='col-xs-6'>" +
                                    "<div class='date'> Created at: " + items[i].item.created_at + "</div>" +
                                "</div>" +
                                "<div class='col-xs-6'>" +
                                    "<div class='price'>" + items[i].item.price + " USD</div>" +
                                "</div>" +
                            "</div>" +
                            "</div>");
    }

    $('.fa-times').click(function() {
        var id = $(this).attr('id');

        $('.item-container#' + id).addClass('hidden');

        console.log(id);
        $.ajax({
            url: '/delete-item',
            method: "POST",
            data: {item_id: id}
        })
    })
</script>
</body>
</html>